.card-title
  height: 150

.card-all
  display: flex
  box-sizing: border-box

h2
  text-align: center
  background-color: #F1F1F1

body
  background-color: #F1F1F1
  background-image: url(https://thumbs.dreamstime.com/b/campo-de-f%C3%BAtbol-niebla-t%C3%A9cnicas-mixtas-112240101.jpg)

h3
  text-align: center
  text-decoration: dashed

.acordeon
  width: 500px
  margin: 90px auto
  color: black
  background-color: white
  padding: 45px 45px

.titulo1
  font-family: 'Alkalami', serif